
h1 {
    text-align: center;
     color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table{
    margin-left: 25%;
    margin-right: auto;
    width: 75%;
}

li a:hover {
    background-color: #111;
}


input[type=text], input[type=password] {
    width: 35%;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
    color: #333;
}

div pre {
    font-family: serif;
    font-size: 17px;
}

#welcome {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.form-div {
    text-align: center;
}

#login_user, #login_pass {
    font-weight: bold;
}

#login_error {
    color: #A4000C;
}

.black-button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 13px 30px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

#steps {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}